.logo{
  height: 35px;
  align-self: center;
  margin-bottom: 20px;
}

.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 346px;
  align-content: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.error-notice{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding-right: 30px;
}

.warning{
  margin: 0;
  height: 30px;
  color: red;
}

.warning-message{
  margin: 0;
  align-self: center;
}