button{
  background: linear-gradient(to top, transparent 10%, rgb(42, 140,212)), 
  radial-gradient(circle, rgb(42, 140,212), rgb(19, 125, 180));
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

h1{
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.input-label{
  font-size: 13px;
  font-weight: 900;
  padding-bottom: 5px;
  padding-left: 2px;
}

input{
  padding: 7px 3px;
}

  /* I took this directly from the actual amazon form */
.already{
  height: 31px;
  padding-top: 10px;
  background: linear-gradient(to bottom, transparent 10%, white 100%),
              radial-gradient(circle, rgb(235,235,235), white);
  border: 10px lightgrey;
  z-index: 0;
  /* I took this directly from the actual amazon form */
  font-size: 11px;
  font-weight: 400;
}

.input-container{
    background-color: #fff;
    height: 31px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.disclaimer{
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: Arial,sans-serif;
}

.form-container{
  border: 1px solid rgb(216	216	216);
  border-radius: 5px;
  padding: 14px 18px;
  width: 312px;
  height: 488px;
  display: flex;
  flex-direction: column;
}

.layout{
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-details{
  font-size: 12px;
  display: flex;
  align-items: center;
}

.sign-up{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
